<!-- Creating a navbar to serve as the page header -->
<mat-toolbar color="primary" class="mat-elevation-z7">    

    <!-- Left side of toolbar -->
    <div class="left-indent"> 
        <!-- App icon, links to home page -->
        <a routerLink="/"> 
            <img [src]="appLogo" height="50" alt="Home"> 
        </a>
    </div>  


    <!-- Right side of toolbar -->
    <div class="right-indent">
        <div class="justify-right">
            <a class="gap" mat-raised-button routerLink="/sign-in" color="accent"> Sign-in </a>
            <a class="gap" mat-button routerLink="/sign-up"        color="black">  Sign-up </a>
            <a class="gap" mat-button routerLink="/about"          color="black">  About   </a>
        </div>
    </div>

</mat-toolbar>