<div class="Authorization page">
    <div class="top-spacer"></div>

    <h1 class="header-format">{{ h1Text }}</h1>

    <form [formGroup]="form">
        
        <!-- Page elements for sign-in page -->
        <div *ngIf="pageName == 'sign-in'"> 
            
            <div>
                <mat-form-field appearance="fill" hideRequiredMarker>
                    <mat-label>Username</mat-label>
                    <input matInput required formControlName="username">
                </mat-form-field>
            </div>    
            <div>
                <mat-form-field appearance="fill" hideRequiredMarker>
                    <mat-label>Password</mat-label>
                    <input class="censor-input" matInput required formControlName="password">
                </mat-form-field>
            </div>
        </div>

        <!-- Page elements for sign-up page -->
        <div *ngIf="pageName == 'sign-up'">
            
            <div>
                <mat-form-field appearance="fill" hideRequiredMarker>
                    <mat-label>Username</mat-label>
                    <input matInput required formControlName="username">
                </mat-form-field>
            </div> 
            <div>
                <mat-form-field appearance="fill" hideRequiredMarker>
                    <mat-label>Email</mat-label>
                    <input matInput required formControlName="email">
                </mat-form-field>
            </div>    
            <div>
                <mat-form-field appearance="fill" hideRequiredMarker>
                    <mat-label>Password</mat-label>
                    <input class="censor-input" matInput required formControlName="password">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" hideRequiredMarker>
                    <mat-label>Confirm Password</mat-label>
                    <input class="censor-input" matInput required formControlName="confirm-password">
                </mat-form-field>
            </div>
        </div>

    <!-- Submit button and subtext -->
        <div>
            <a mat-raised-button color="primary" class="submit-button-format" 
            [disabled]="!form.valid">
                <b>Submit</b>
            </a>
        </div>
    </form>  

    
    <div *ngIf="pageName == 'sign-in'; else signUp"> Need an account? 
        <a [routerLink]="['/sign-up']"> Sign-up</a>
    </div>
    <ng-template #signUp>
        <div> Already have an account?
            <a [routerLink]="['/sign-in']"> Sign-in</a>
        </div>
    </ng-template>

</div>