<div>
    <div class="top-spacer"></div>

    <h1 class="header-format">Make a new post!</h1>
    
    <form [formGroup]="postForm" (ngSubmit)="submit()">

        <fieldset [disabled]="submitted">
            <div>
                <mat-form-field appearance="fill" hideRequiredMarker>
                    <mat-label>Title</mat-label>
                    <input matInput required formControlName="title">
                </mat-form-field>
            </div> 

            <div>
                <mat-form-field appearance="fill" hideRequiredMarker>
                    <mat-label>Body</mat-label>
                    <textarea matInput required formControlName="body" placeholder="" appearance="fill">
                    </textarea>
                </mat-form-field>
            </div>

            <div>
                <button mat-raised-button color="primary" class="post-button-format">
                    <b>Post</b>
                </button>
            </div>

        </fieldset>

    </form>
</div>