/* You can add global styles to this file, and also import other style files */
* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: Oxygen;
}
@font-face {
    font-family: Oxygen;
    src: local("Oxygen"), url(./assets/fonts/Oxygen-Regular.ttf) format("truetype");
}
body{
    background-color: #e7e7e7;
}