.banner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
    height: 20vh;
    width:100vw;
    background-color: rgb(42, 42, 42);
    color: white;
}
